<html>
<head>
<title>MainPage!</title>
<link href="style.css" rel="stylesheet" type="text/css">
<link rel="stylesheet" href ="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css">
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js"></script>
<script src="/mainpage.js"></script>
 
</head>

<body>

<div id="topBar">
	{{username}}
</div>
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Questions</a></li>
		<li><a href="#tabs-2">Create</a></li>
	</ul>
	
	<div id="tabs-1">
		<div id="questions">
			<div id="question"></div>
			<button class="button small green" id="next"><span>next</span></button>
		</div>
	</div>
	<div id="tabs-2">
		
		<div id="create">
			<form id="createForm" name="createForm" action="">
				<fieldset>
					<label for="q">Question</label>
					<input type="text" name="q" value="" /></br>
					<label for="a">Answer</label>
					<input type="text" name="a" value="" /></br>
					<label for="a">Wrong1</label>
					<input type="text" name="c1" value="" /></br>
					<label for="a">Wrong2</label>
					<input type="text" name="c2" value="" /></br>
					<label for="a">Wrong3</label>
					<input type="text" name="c3" value="" /></br>
				</fieldset>
			</form>
			<div><button id="createButton">create</button></div>
		</div>
		
	</div>
</div>


</body>
</html>
