<p>{{question}}</p>
<button class="answer button" id="option1">{{options[0]}}</button>
<button class="answer button" id="option2">{{options[1]}}</button>
<button class="answer button" id="option3">{{options[2]}}</button>
<button class="answer button" id="option4">{{options[3]}}</button>

<div id="appraise"></div>

<script>
$('.answer').click(function(){
	$("#appraise").html("Loading");
	$("#appraise").fadeOut().fadeIn();
	$.post("/ajax", 
			"ans=" + escape( $(this).html() ) + "&hashed={{hashed}}",
			function(data){
				$("#appraise").html(data);
			});
	$('.answer').remove();
});
</script>

